body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.year {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.timer {
  margin-top: 2em;
  font-size: 20px;
  color: #e44d26;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.start-button,
.play-button,
.reset-button {
  width: 120px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 0; /* Vertically center text within buttons */
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button {
  background-color: #28a745;
  color: #ffffff;
}

.start-button:disabled {
  background-color: #b3d7b3;
}

.start-button:hover {
  background-color: #218838;
}

.play-button {
  background-color: #007bff;
  color: #ffffff;
  height: 10em;
}

.play-button:disabled {
  background-color: #99c2ff;
}

.play-button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #dc3545;
  color: #ffffff;
}

.reset-button:hover {
  background-color: #c82333;
}
